.grid-container{
    padding: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color:  rgb(22, 40, 63);
    margin: 20px;
    border: 8px double rgb(179, 155, 51);
    border-radius: 15px;
}
.scroll {
  position: relative;
  width: 45vw;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-color: rgb(4, 13, 36);
  border-radius: 15px;
  border: 8px double rgb(179, 155, 51)
  }
  .about{
    font-size: 20px;
  }
  .m-scroll {
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    animation: scrollText 20s infinite linear;
    margin: 10px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
  }
  
  .scrollitem {
    display: inline-block;
    margin: 50px 200px 50px 200px;
    background-color: rgb(38, 48, 75);
	border-radius: 50%;
	border: 8px double rgb(179, 155, 51)
  }

  span img{
    width: 450px;
	  height: auto;
	  padding: 20px;
  }
  
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @media screen and (max-width:1300px) {
    .grid-container{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .scroll{
        width: 350px;
    }
    span img{
        width: 250px;
      }
    .about{
        font-size: 15px;
        padding:0px 50px;
    }
  }